<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint lang="de">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<style type="text/css">	
    body {
        background: white; 
        -webkit-print-color-adjust:exact;
    }

    page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        font-family: sans-serif;
    }

    page[size="A4"] {  
        width: 21cm;
        height: 29.7cm; 
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .kopf {
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
    }
    
    .details {
        align-self: center;
        width: 75%;
        margin-bottom: 20%;
    }

    .unterschrift {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 25px;
    }
    table {
        width: 100%;
    }
    td {
        height: 30px;
    }

    textarea {
        background: none;  
        border: none;
        resize: none;
        font-family: sans-serif;
        font-size: medium;
        vertical-align: bottom;
        text-align: right;
    }

    input {
        background: none;  
        border: none;
        font-family: sans-serif;
        text-align: right;
        width: 100px;
        font-size: 10pt;
    }

    .normalinput {
        background: none;  
        border: none;
        font-family: sans-serif;
        text-align: right;
        width: 120px;
        font-size: 12pt;
    }

    .dayinput {
        background: none;  
        border: none;
        font-family: sans-serif;
        text-align: right;
        width: 25px;
        font-size: 12pt;
    }

    input[type=date]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }

    @media print {
        @page { margin: 0; }
        body { margin: 1.6cm; }
    }
</style>

<title>Urlaubsantrag</title>
</head>
<body>

<page size="A4">

    <div id="app" class="flex">
        <div class="kopf">
            <div><h2>Urlaubsantrag</h2></div>
            <div><img alt="enc logo" src="enc.png"></div>
        </div>
        <div class="details">
            <table>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="2" width="50%"><strong>Urlaubsantrag
                        <input class="normalinput" maxlenght="4" style="font-weight: bold; width:45px;" v-model="current_year"></input>
                    </strong></td>
                    <td bgcolor="#c9b9a1"><strong>Firma</strong></td>
                    <td bgcolor="f6eddf" align="right" width="40%">Energicos Systems LLP</td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1" width="23%"><strong>Lfd. Nr.</strong></td>
                    <td bgcolor="f6eddf" align="right" width="30%">
                        <input class="normalinput" maxlength="2" v-model="lfd" style="width:45px;"></input>/{{current_year}}
                    </td>
                    <td bgcolor="#c9b9a1"><strong>Abteilung</strong></td>
                    <td bgcolor="f6eddf" align="right">
                        <input class="dayinput" maxlength="4" style="width:45px;" v-model="abteilung"></input>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td bgcolor="#c9b9a1"><strong>Name</strong></td>
                    <td bgcolor="f6eddf" align="right">
                        <input class="normalinput"  maxlength="10" v-model="nachname"></input>
                    </td>
                    <td bgcolor="#c9b9a1"><strong>Datum</strong></td>
                    <td bgcolor="f6eddf" align="right">
                        <input class="normalinput" maxlength="10" v-model="date"></input>
                        </td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1"><strong>Vorname</strong></td>
                    <td bgcolor="f6eddf" align="right">
                        <input class="normalinput" v-model="vorname"></input>
                    </td>
                    <td bgcolor="#c9b9a1"><strong>Vertretung</strong></td>
                    <td bgcolor="f6eddf" align="right">
                        <input class="normalinput" v-model="vertretung"></input>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="4">
                        Urlaubsanspruch {{current_year}}
                    </td>
                    <td bgcolor="f6eddf" align="center" width="15%">
                        <input class="dayinput" maxlength="2" v-model="urlaubsanspruch"></input>
                    </td>
                    <td bgcolor="f6eddf" align="right">Tage</td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="4">Resturlaub {{current_year - 1}}</td>
                    <td bgcolor="f6eddf" align="center">
                        <input class="dayinput" maxlength="2" v-model="resturlaub_vorjahr"></input>
                    </td>
                    <td bgcolor="f6eddf" align="right">Tage</td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="4"><strong>Gesamtanspruch {{current_year}}</strong></td>
                    <td bgcolor="#c9b9a1" align="center">
                        <input class="dayinput" maxlength="2" v-model="gesamtanspruch" style="font-weight: bold;"></input>
                    </td>
                    <td bgcolor="#c9b9a1" align="right">Tage</td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="4">Bereits genommener Urlaub {{current_year}}</td>
                    <td bgcolor="f6eddf" align="center">
                        <input class="dayinput" maxlength="2" v-model="bereits_genommen"></input>
                    </td>
                    <td bgcolor="f6eddf" align="right">Tage</td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="4"><strong>Resturlaub {{current_year}}</strong></td>
                    <td bgcolor="#c9b9a1" align="center">
                        <strong>
                            <input class="dayinput" maxlength="2" v-model="resturlaub" style="font-weight: bold;"></input>
                        </strong>
                    </td>
                    <td bgcolor="#c9b9a1" align="right"><strong>Tage</strong></td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1">Beantrager Urlaub</td>
                    <td bgcolor="f6eddf">
                        <input required="required" type="date" v-model="von"></input>
                    </td>
                    <td bgcolor="#c9b9a1" align="center">bis</td>
                    <td bgcolor="f6eddf">
                        <input required="required" type="date" v-model="bis"></input>
                    </td>
                    <td bgcolor="f6eddf" align="center">
                        <input class="dayinput" maxlength="2" v-model="beantragter_urlaub"></input>
                    </td>
                    <td bgcolor="f6eddf" align="right">Tage</td>
                </tr>
                <tr>
                    <td bgcolor="#c9b9a1" colspan="4"><strong>anschließender Resturlaub {{current_year}}</strong></td>
                    <td bgcolor="#c9b9a1" align="center">
                        <strong>
                            <input class="dayinput" maxlength="2" style="font-weight: bold;" v-model="urlaubsanspruch_danach"></input>
                        </strong>
                    </td>
                    <td bgcolor="#c9b9a1" align="right"><strong>Tage</strong></td>
                </tr>
            </table>
        </div>
        <div class="unterschrift">
            <div><center>________________________________<br />Unterschrift Vorgesetzter</center></div>
            <div><center>________________________________<br />Unterschrift Mitarbeiter/in</center></div>
        </div>
    </div>

</page>
<script>
    new Vue({
        el: '#app',
        data: {
            current_year: "",
            date: "",
            urlaubsanspruch: 30,
            resturlaub_vorjahr: 0,
            bereits_genommen: 0,
            von: null,
            bis: null,
            lfd: null,
            abteilung: null
        },
        computed: {
            vorname: {
                get() {
                    return localStorage.getItem("vorname") || "Max"
                },
                set(value) {
                    localStorage.setItem("vorname", value)
                }
            },
            nachname: {
                get() {
                    return localStorage.getItem("nachname") || "Mustermann"
                },
                set(value) {
                    localStorage.setItem("nachname", value)
                }
            },
            vertretung: {
                get() {
                    return localStorage.getItem("vertretung") || "Mustermann"
                },
                set(value) {
                    localStorage.setItem("vertretung", value)
                }
            },
            gesamtanspruch: function() {
                localStorage.setItem("urlaubsanspruch", this.urlaubsanspruch)
                localStorage.setItem("resturlaub_vorjahr", this.resturlaub_vorjahr)
                return parseInt(this.urlaubsanspruch) + parseInt(this.resturlaub_vorjahr)
            },
            resturlaub: function() {
                return parseInt(this.gesamtanspruch) - parseInt(this.bereits_genommen)
            },
            beantragter_urlaub: function() {
                if ((this.von) && (this.bis)) {

                    function werktage(startDate, endDate) {
                        let count = 0
                        let curDate = startDate
                        while (curDate <= endDate) {
                            let dayOfWeek = curDate.getDay()
                            if(!((dayOfWeek == 6) || (dayOfWeek == 0)))
                            count++
                            curDate.setDate(curDate.getDate() + 1)
                        }
                        return count
                    }

                    let von = Date.parse(this.von)
                    let bis = Date.parse(this.bis)
                    let dif = werktage(new Date(von), new Date(bis))
             
                    localStorage.setItem("bereits_genommen", dif + parseInt(this.bereits_genommen))
                    localStorage.setItem("lfdnr", parseInt(this.lfd) + 1)
                    localStorage.setItem("current_year", this.current_year)
                    localStorage.setItem("abteilung", this.abteilung)

                    return dif
                }
            },
            urlaubsanspruch_danach: function() {
                let beantragt = parseInt(this.beantragter_urlaub) || 0
                return parseInt(this.resturlaub) - beantragt
            }
        },
        beforeMount() {
            this.current_year = localStorage.getItem("current_year") || (new Date()).getFullYear()
            let today = new Date()
            let dd = today.getDate()

            //January is 0!
            let mm = today.getMonth() + 1
            let yyyy = today.getFullYear()

            if (dd < 10) {
                dd = '0'+ dd
            } 

            if (mm < 10) {
                mm = '0'+ mm
            } 

            this.date = dd + '.' + mm + '.' + yyyy

            this.resturlaub_vorjahr = localStorage.getItem("resturlaub_vorjahr") || 0
            this.urlaubsanspruch = localStorage.getItem("urlaubsanspruch") || 30
            this.bereits_genommen  = localStorage.getItem("bereits_genommen") || 0
            this.lfd = localStorage.getItem("lfdnr") || 1
            this.abteilung = localStorage.getItem("abteilung") || "RD"
        }
    })
</script>

</body>
</html>
